.App {
  text-align: center;
}

ul {
  padding-inline-start: 0em;
  padding: 1em;
}
ul li {
    cursor: pointer;
    padding: 15px;
    list-style-type: none;
    margin-top: 5px;
    border: 1px solid grey;
    display: block;
}

ul li:hover {
  font-weight: bold;
  background-color: rgba(88, 144, 187, 0.42);
}

div.main {
  margin-top: 10px;
  width: 50%;
/*  border: 1px solid #148057;*/
  margin: auto;
  min-height: 500px;
}

div.selectedDataDisplay {
  text-align: left;
  padding-left: 35px;
}

button {
  margin-bottom: 25px;
}